html{
    height: 100%;
}
body{
    width: 800px;
    border: 1px black solid;
    margin: 0 auto;
}
/*Main container styles */
.container{
    
}
/*Navbar styles */
.navbar{
    border: 1px red solid;
}
.navbar ul{
    list-style-type: none;
    margin:0;
    padding:0;
    height: 50px;
}
.navbar li{
    display:inline;
    border: 1px black solid;
    text-decoration: none;
    color:black;
}

/* Tasks */
.tasks{
    width:760px;
    border: 1px green solid;
    margin: 0 auto;
}

.tasks li{
    list-style-type: none;
}