<h2>Add Tasks</h2>
<form name = "addTask" ng-submit = "home.addTask()">
    <fieldset class="taskInput">
        <input type="text" id="name" ng-model= "home.taskName" placeholder= "Enter Task" required>
    </fieldset>
    <fieldset class="priority"> 
        <select ng-model="home.priority">
            <option value=" ">None</option>
            <option value= 2>High</option>
            <option value= 1>Medium</option>
            <option value= 0>Low</option>
        </select>
    </fieldset>
    <input type="submit" class="add-btn" value= "Add">
</form>