<h2 class="home-title">Active</h2>
<div class="tasks">
    <ul>
        <div class="labelContainer group">
                <div class="taskFormat taskLabel"><h3>Task Name</h3></div>
                <div class="taskFormat taskLabel hidden"><h3>Task Priority</h3></div>
            </div>
        <li class="group" ng-repeat= "task in home.activeTasks | orderBy : '-priority'" class="task">
            
            <div class="taskContainer">
                <div class="taskFormat">{{task.task}}{{home.expire(task)}}</div>
                <div class="taskFormat taskPriority hidden">{{task.priority}}</div>
                <div class = "taskFormat completeBtn" ><button class="finishTask" ng-click= "home.complete(task)"><i class="fa fa-check-square-o" aria-hidden="true"></button></i></div>
            </div>
        </li>
    </ul>
</div>