<h2>Active</h2>
<div class="tasks">
    <ul>
        <div class="labelContainer group">
                <div class="taskFormat taskLabel">Task Name</div>
                <div class="taskFormat taskLabel">Task Priority</div>
            </div>
        <li class="group" ng-repeat= "task in home.activeTasks | orderBy : 'priority'" class="task">
            
            <div class="taskContainer">
                <div class="taskFormat">{{task.task}}{{home.expire(task)}}</div>
                <div class="taskFormat taskPriority">{{task.priority}}</div>
                <div class = "taskFormat completeBtn" ><div class="finishTask" ng-click= "home.complete(task)">Complete</div></div>
            </div>
        </li>
    </ul>
</div>